{
  "nick": "Parrot",
  "blacked": ["MercWMouth", "Deadpool", "bot"],
  "obamas": ["Counselor", "Briseis", "Brisis", "GuppyLord"],
  "rooms": [
    {
      "room": "https://volafile.org/r/e52h2jb4",
      "password": "kek"
    }
  ]
}
